{% if page.comments %}
  <!-- Notice the action url that tells Staticman where to send the POST data -->
  <form method="POST"
        action="{{ site.staticman.api }}">
      <!-- The review will be associated with the current product -->
      <input name="fields[blog]" type="hidden" value="{{ page.slug }}" />
      <!-- with options[redirect], our visitor will come back to our website when submitting a review -->
      <input name="options[redirect]" type="hidden" value="{{site.url}}{{site.baseurl}}{{ page.url }}" />

      <h4>Add a Comment</h4>
      <!-- and finally the user visible fields -->
      <p><label>Your name: <input type="text" name="fields[name]" /></label></p>
      <p><label>Comment: <input type="text" name="fields[comment]" /></label></p>
      <p><button type="submit">Submit Comment</button></p>
  </form>
  <div class="comments" id="comments">
    {% if site.facebook_sdk.enable and site.facebook_comments_plugin.enable %}
      <div class="fb-comments"
           data-href="{{ page.url | absolute_url }}"
           data-numposts="{{ site.facebook_comments_plugin.num_of_posts }}"
           data-width="{{ site.facebook_comments_plugin.width }}"
           data-colorscheme="{{ site.facebook_comments_plugin.scheme }}">
      </div>
    {% elsif site.vkontakte_api.enable and site.vkontakte_api.comments %}
      <div id="vk_comments"></div>
    {% elsif site.gitalk.enable %}
      <div id="gitalk-container"></div>
    {% endif %}
  </div>
{% endif %}
